<div class="userInfo">
	<div>
		<h2>{{ currentUser.displayName }}</h2>
		<p><a ui-sref="setUserName">Change Username</a></p>
	</div>
	<div>
		<h3>5 Wins | 3 Losses</h3>
		<p><a ng-show="currentUser.isAnonymous" ui-sref="linkAccount">Save your Record</a></p>
	</div>
	<div>
		<a ng-click="logout()"><h2>Logout</h2></a>
	</div>
</div>

<div class="errorMessage">
	<p ng-hide="currentUser.displayName">ERROR! PLEASE SET A USERNAME!</p>
</div>

<user-list class="activeUsers" active-users="activeUsers" current-user="currentUser"></user-list>