body {
	background: #262626;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Inconsolata', monospace;
}

a {
	color: #0066CC;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

.page {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper {
	background: #fff;
	width: 500px;
	max-width: 95vw;
	max-height: 95vh;
	margin: auto;
	text-align: center;
	overflow-y: auto;
}

.wrapper .userInfo {
	background: #d9d9d9; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4px 10px;
	line-height: 115%;
}

.wrapper .userInfo a {
	font-size: 14px;
}

.wrapper h2, .wrapper .userInfo p, .wrapper h3 {
	margin: 0;
	line-height: 90%;
}

.wrapper form {
	padding: 25px;
}

.wrapper h1 {
	background: #009933;
	color: #fff;
	margin: 0;
	padding: 10px 0;
	width: 100%;
}

.wrapper input {
	width: 100%;
	border: none;
	border-bottom: 1px solid #000;
	text-align: center;
	font-family: 'Inconsolata', monospace;
	font-size: 20px;
}

.wrapper input:focus {
	outline: none;
}

.wrapper .errorMessage p {
	box-sizing: border-box;
	margin-bottom: 0;
	padding: 7px;
	background: rgba(255, 0, 0, 0.80);
	width: 100%;
	color: #fff;
}

.wrapper .errorMessage p a {
	color: #fff;
}

.wrapper button {
	color: #fff;
	font-weight: 700;
	font-family: 'Inconsolata', monospace;
	font-size: 20px;
	background: #262626;
	border: 2px solid #262626;
	padding: 5px 7px;
	cursor: pointer;
}

.wrapper button:hover {
	background: none;
	color: #000;
}

.wrapper button:disabled {
	background: none;
	color: #000;
	cursor: not-allowed;
}

.userList {
	width: 100%;
}

.userList .userHead {
	background: #d9d9d9;
	margin-top: 10px; 
	padding: 5px;
}

.userList ul {
	min-height: 50px;
	max-height: 150px;
	margin: 0;
	padding: 0;
	overflow-y: auto;
}

.userList li {
	list-style: none;
	display: inline-flex;
	width: calc(100% - 40px);
	justify-content: space-between;
	padding: 5px 10px;
	margin: 0 10px;
	border-bottom: 1px solid #d9d9d9;
}

.gameTable {
	margin: 10px auto;
	border-collapse: collapse;
	border-style: hidden;
}

.gameTable td {
	border: 3px solid #262626;
	height: 50px;
	width: 50px;
	cursor: pointer;
	font-size: 45px;
}

.messageCenter {
	height: 200px;
	overflow-y: auto;
}

@media screen and (max-width: 365px){
	.statDivide {
		opacity: 0;
	}
}

.messageCenter .message {
	margin: 0 10px;
	border-bottom: 1px solid #d9d9d9;
	padding: 5px;
}

.gameHead {
	display: flex;
	justify-content: space-between;
	padding: 10px 10px 0 10px;
}

.gameHead h3 {
	margin-bottom: 5px;
}

.yourMove {
	color: #009933;
}

.third {
	width: 33%;
}